html,
body {
  margin: 0px;
  color: white;
  background-color: #2f4f30;
}

.tittle {
  text-align: center;
  background-color: #000000;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.decks {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#player_deck,
#conmputer_deck {
  height: 250px;
}